<!DOCTYPE html>
<meta charset="utf-8">
<head>
  <title>네이버 영화 분석 사이트</title>
  <meta property="og:url" content="http://chproject813.shop/" />
      <meta property="og:title" content="영화 분석 사이트" />
      <meta property="og:description" content="영화 평점 랭킹 상위 100개의 영화들간의 상관관계를 보여줍니다." />
      <meta property="og:site_name" content="Chang-Hun's Web Project" />
      <meta property="og:image" content="{{ url_for('static', filename='meta_title.png') }}" />
      <meta property="og:type" content="article" />
      <meta property="og:locale" content="ko_KR" />
  <style>

    div.jumbotron{
        border: medium solid red;
        background-color:black;
        color:white;
        text-align: center;
        width:900px;
        margin: 5px auto 30px auto;

      }
     .link {
       stroke: #999;
       stroke-opacity: 0.6;
       pointer-events: all;
     }

     .node circle {
       pointer-events: all;
       stroke: #777;
       stroke-width: 1px;
     }


     div.tooltip {
      position: absolute;
      background-color: white;
      max-width; 200px;
      height: auto;
      padding: 1px;
      border-style: solid;
      border-radius: 4px;
      border-width: 1px;
      box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
      pointer-events: none;
    }

  </style>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.24.0/d3-legend.min.js"></script>
  <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

  <script>


    


    var color = d3.scaleOrdinal(d3.schemeSet3);

    var genre_name = [];
    var movie_name = [];
    

    var tooltip = d3.select("body")
    .append("div")
    .attr("class", "tooltip")
    .style("opacity", 0);
    
    
    d3.json("{{url_for('static', filename = 'movie_score_main.json')}}", function(error, graph) {
      if (error) throw error;
      const svg = d3.select('svg'),
      width = +svg.attr('width'),
      height = +svg.attr('height');


      for(let i=0;i<graph.data[0]['genre_n'];i++){
        color(i+1);
        genre_name.push(graph.genre_data[i]['title'])
      }
      for(let i=0;i<Object.keys(graph.nodes).length;i++){
        movie_name.push(graph.nodes[i]['id']);
      }



      const simulation = d3.forceSimulation()
      .nodes(graph.nodes)
      .force('link', d3.forceLink().id(d => d.id).distance(150))
      .force('charge', d3.forceManyBody().strength(-600))
      .force('center', d3.forceCenter(650, 500))
      .on('tick', ticked);

      simulation.force('link')
      .links(graph.links);

      const R = 8;




      var link = svg.append("g")
      .attr("class", "links")
      .selectAll("line")
      .data(graph.links)
      .enter().append("line")
      .attr("stroke-width", function(d) { return 0; });;




      let node = svg.selectAll('.node')
      .data(graph.nodes)
      .enter().append('g')
      .attr('class', 'node')
      .call(d3.drag()
       .on("start", dragstarted)
       .on("drag", dragged)
       .on("end", dragended));;

      node.append('circle')
      .attr('r', R)
      .attr("fill", function(d) { return color(d.group);})  
      .on('mouseover.tooltip', function(d) {
       tooltip.transition()
       .duration(300)
       .style("opacity", .8);
       tooltip.html("Name:" + d.id + "<p/>genre:" + d.genre + "<p/>director" + d.director + "<p/>actor:" + d.actor)
       .style("left", (d3.event.pageX) + "px")
       .style("top", (d3.event.pageY + 10) + "px");
     })
      .on('mouseover.fade', fade(0.1))
      .on("mouseout.tooltip", function() {
        tooltip.transition()
        .duration(100)
        .style("opacity", 0);
      })
      .on('mouseout.fade', fade(1))
      .on("mousemove", function() {
       tooltip.style("left", (d3.event.pageX) + "px")
       .style("top", (d3.event.pageY + 10) + "px");
     })
      .on('dblclick',releasenode)


      node.append('text')
      .attr('x', 6)
      .attr('y', 5)
      .text(d => d.id);


      function ticked() {
        link
        .attr('x1', d => d.source.x)
        .attr('y1', d => d.source.y)
        .attr('x2', d => d.target.x)
        .attr('y2', d => d.target.y);

        node
        .attr('transform', d => `translate(${d.x},${d.y})`);

        


      }

      function dragstarted(d) {
        if (!d3.event.active) simulation.alphaTarget(0.3).restart();
        d.fx = d.x;
        d.fy = d.y;
      }

      function dragged(d) {
        d.fx = d3.event.x;
        d.fy = d3.event.y;
      }

      function dragended(d) {
        if (!d3.event.active) simulation.alphaTarget(0);

      }
      function releasenode(d) {
        console.log(d.movie_id)
        location.href = "/post?id="+d.movie_id;
      }

      const linkedByIndex = {};
      graph.links.forEach(d => {
        linkedByIndex[`${d.source.index},${d.target.index}`] = 1;
      });

      function isConnected(a, b) {
        return linkedByIndex[`${a.index},${b.index}`] || linkedByIndex[`${b.index},${a.index}`] || a.index === b.index;
      }

      function fade(opacity) {
        return d => {
          node.style('stroke-opacity', function (o) {
            const thisOpacity = isConnected(d, o) ? 1 : opacity;
            this.setAttribute('fill-opacity', thisOpacity);
            return thisOpacity;
          });

          link.style('stroke-opacity', o => (o.source === d || o.target === d ? 1 : opacity));

        };
      }
      var sequentialScale = d3.scaleOrdinal(d3.schemeSet3)
      .domain(genre_name);


      svg.append("g")
      .attr("class", "legendSequential")
      .attr("transform", "translate("+(0)+","+(15)+")");

      var legendSequential = d3.legendColor()
      .shapeWidth(30)
      .cells(12)
      .orient("vertical")
      .title("Genre by color:")
      .titleWidth(100)
      .scale(sequentialScale) 

      svg.select(".legendSequential")
      .call(legendSequential); 

      var sequntialScale1 = d3.scaleOrdinal(d3.schemeSet3).domain(movie_name);


    })


  </script>
</head>
<body>
  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">영화 리스트</h1>
    <hr style = "border: solid 2px red;" class="my-4">
    <p class="lead">노드를 더블 클릭하시면, 분석 그래프를 보여줍니다.</p>
  </div>
  </div>
  <svg width="1500" height="1000"></svg>
</body>
